.margin-top-40
  .row
    .large-12.columns

      %h1= @content.message

      // Video Embed
      - if @content.embed_link
        = @content.embed_link.html_safe

      // Image Embed
      - if @content.asset_content_type == 'image/jpeg'
        = image_tag(@content.asset.url(:large))

      // Music Embed
      - if @content.asset_content_type == 'audio/mpeg' || @content.asset_content_type == 'audio/mp3'
        .margin-top-40
          = image_tag(@content.thumbnail.url(:thumb))
          %audio{:controls => ''}
            %source{:src => "#{@content.asset.url}", :type => 'audio/mpeg'}
              Your browser does not support the audio element.

    - unless @content.embed_link
      .large-12.columns.margin-top-40
        = link_to 'Download', @content.download_url, class: 'f-btn-primary'


