%li
  = link_to(new_point_path(get_effort(effort_name)), class: 'f-btn-primary') do
    - if user_has_effort?(eval("@#{effort_name}"))
      - if find_effort(eval("@#{effort_name}")).approved?
        %span.effort-badge.fa.fa-check.completed
        Awarded!
      - elsif find_effort(eval("@#{effort_name}")).pending?
        %span.effort-badge.fa.fa-clock-o.pending
        Pending Approval
    - else
      %span{class: "effort-badge fa fa-#{icon_name}"}
      = cta_text
