.medium-6.columns
  %h3 One-time Efforts
  %ul.effort-list
    %li
      = link_to share_location_path, class: 'f-btn-primary' do
        - if current_user.preferred_location
          %span.effort-badge.fa.fa-check.completed
          Update preferred location
        - else
          %span.effort-badge.fa.fa-location-arrow
          Share your location

    %li
      = link_to request_venue_path, class: 'f-btn-primary' do
        - if current_user.requested_venue
          %span.effort-badge.fa.fa-check.completed
          Update venue request
        - else
          %span.effort-badge.fa.fa-music
          Request a venue

    = render 'points/one_time_block', effort_name: 'facebook_like', cta_text: 'Like Us', icon_name: 'facebook'
    = render 'points/one_time_block', effort_name: 'twitter_like', cta_text: 'Follow Us', icon_name: 'twitter'
    = render 'points/one_time_block', effort_name: 'instagram_like', cta_text: 'Follow Us', icon_name: 'instagram'
    = render 'points/one_time_block', effort_name: 'youtube_like', cta_text: 'Subscribe', icon_name: 'youtube'
