.medium-6.columns
  %h3 Repeatable Efforts
  %ul.effort-list
    = render 'points/repeatable_block', effort_name: 'spotify_playlist', cta_text: 'Create a playlist', icon_name: 'spotify'
    = render 'points/repeatable_block', effort_name: 'blog_post', cta_text: 'Write a blog post', icon_name: 'pencil'
    = render 'points/repeatable_block', effort_name: 'facebook_post', cta_text: 'Post about us', icon_name: 'facebook'
    = render 'points/repeatable_block', effort_name: 'twitter_post', cta_text: 'Post about us', icon_name: 'twitter'
    = render 'points/repeatable_block', effort_name: 'instagram_post', cta_text: 'Post about us', icon_name: 'instagram'
    = render 'points/repeatable_block', effort_name: 'youtube_post', cta_text: 'Make a Fictionist video', icon_name: 'youtube'
