.margin-top-40
  .row
    .large-12.columns
      %h1 Probably explain how to earn points
      .margin-vertical-40
        = link_to 'New Point Request', new_point_path, class: 'f-btn-primary'

  .row.text-center
    %h3.margin-vertical-40 Invite a User
    = form_for @new_user, url: invite_path do |f|
      .row
        .medium-5.columns
          .row.collapse
            .small-3.large-2.columns
              = f.label :name, class: 'prefix'
            .small-9.large-10.columns
              = f.text_field :name
        .medium-5.columns
          .row.collapse
            .small-3.large-2.columns
              = f.label :email, class: 'prefix'
            .small-9.large-10.columns
              = f.text_field :email
        .medium-2.columns
          = f.submit 'Send Invitation', class: 'f-btn-primary small'

  .row
    .large-6.columns
      %h3 Repeatable Efforts
      %ul
        %li invite_user
        %li blog_post
        %li upload_content
        %li facebook_like
        %li twitter_like
        %li instagram_like
        %li youtube_like
        %li facebook_post
        %li twitter_post
        %li instagram_post
        %li youtube_post
    .large-6.columns
      %h3 One-time Efforts
      %ul
        %li share_location_information
        %li request_a_concert

- if @pending.present?
  .row
    .large-12.columns
      %h3 Pending Requests
      - @pending.each do |request|
        = link_to request.effort.name, edit_point_path(request), class: 'f-btn-primary small'
