.margin-top-40
  .row
    .large-12.columns
      %h1 Probably explain how to earn points

.margin-top-40
  .row
    %h3 Invite a User
    %p When they accept your invitation and create an account, you will get 50 points!
    = form_for @new_user, url: invite_path do |f|
      .row
        .medium-5.columns
          .row.collapse
            .small-3.large-2.columns
              = f.label :name, class: 'prefix'
            .small-9.large-10.columns
              = f.text_field :name
        .medium-5.columns
          .row.collapse
            .small-3.large-2.columns
              = f.label :email, class: 'prefix'
            .small-9.large-10.columns
              = f.text_field :email
        .medium-2.columns
          = f.submit 'Send Invitation', class: 'f-btn-primary small'

.margin-top-40
  .row
    .large-6.columns
      %h3 Repeatable Efforts
      %ul.effort-list
        %li= link_to("Create a Spotify playlist", new_point_path(get_effort("spotify_playlist")), class: 'f-btn-primary') if get_effort("spotify_playlist")
        %li= link_to("Create a blog post", new_point_path(get_effort("blog_post")), class: 'f-btn-primary') if get_effort("blog_post")
        %li= link_to("Post about us on Facebook", new_point_path(get_effort("facebook_post")), class: 'f-btn-primary') if get_effort("facebook_post")
        %li= link_to("Tweet about us on Twitter", new_point_path(get_effort("twitter_post")), class: 'f-btn-primary') if get_effort("twitter_post")
        %li= link_to("Post about us on Instagram", new_point_path(get_effort("instagram_post")), class: 'f-btn-primary') if get_effort("instagram_post")
        %li= link_to("Make a YouTube video", new_point_path(get_effort("youtube_post")), class: 'f-btn-primary') if get_effort("youtube_post")
        -# %li= link_to("Upload a song or picture", new_point_path(get_effort("facebook_like")), class: 'f-btn-primary') if get_effort("facebook_like")

    .large-6.columns
      %h3 One-time Efforts
      %ul.effort-list
        %li= link_to "Share your location", share_location_path, class: 'f-btn-primary'
        %li= link_to "Request a venue", request_venue_path, class: 'f-btn-primary'
        %li= link_to("Like us on Facebook", new_point_path(get_effort("facebook_like")), class: 'f-btn-primary') if get_effort("facebook_like")
        %li= link_to("Follow us on Twitter", new_point_path(get_effort("twitter_like")), class: 'f-btn-primary') if get_effort("twitter_like")
        %li= link_to("Follow us on Instagram", new_point_path(get_effort("instagram_like")), class: 'f-btn-primary') if get_effort("instagram_like")
        %li= link_to("Subscribe to our YouTube channel", new_point_path(get_effort("youtube_like")), class: 'f-btn-primary') if get_effort("youtube_like")
