.margin-top-40
  .row
    .large-12.columns
      %h1 Probably explain how to earn points

.margin-top-40
  .row
    .large-12.columns
      .panel
        %h3 Invite a User
        %p When they accept your invitation and create an account, you will get 50 points!
        = form_for @new_user, url: invite_path do |f|
          .row
            .medium-5.columns
              .row.collapse
                .small-3.large-2.columns
                  = f.label :name, class: 'prefix'
                .small-9.large-10.columns
                  = f.text_field :name
            .medium-5.columns
              .row.collapse
                .small-3.large-2.columns
                  = f.label :email, class: 'prefix'
                .small-9.large-10.columns
                  = f.text_field :email
            .medium-2.columns
              = f.submit 'Send Invitation', class: 'f-btn-primary small'

.margin-top-40
  .row
    .large-6.columns
      %h3 Repeatable Efforts
      %ul.effort-list
        %li
          = link_to(new_point_path(get_effort("spotify_playlist")), class: 'f-btn-primary') do
            %span.effort-badge.fa.fa-spotify
            Create a playlist
        %li
          = link_to(new_point_path(get_effort("blog_post")), class: 'f-btn-primary') do
            %span.effort-badge.fa.fa-pencil
            Write a blog post
        %li
          = link_to(new_point_path(get_effort("facebook_post")), class: 'f-btn-primary') do
            %span.effort-badge.fa.fa-facebook
            Post about us
        %li
          = link_to(new_point_path(get_effort("twitter_post")), class: 'f-btn-primary') do
            %span.effort-badge.fa.fa-twitter
            Tweet about us
        %li
          = link_to(new_point_path(get_effort("instagram_post")), class: 'f-btn-primary') do
            %span.effort-badge.fa.fa-instagram
            Post about us
        %li
          = link_to(new_point_path(get_effort("youtube_post")), class: 'f-btn-primary') do
            %span.effort-badge.fa.fa-youtube
            Make a video
        -# %li= link_to("Upload a song or picture", new_point_path(get_effort("facebook_like")), class: 'f-btn-primary') do

    .large-6.columns
      %h3 One-time Efforts
      %ul.effort-list
        %li
          = link_to share_location_path, class: 'f-btn-primary' do
            %span.effort-badge.fa.fa-location-arrow
            Share your location
        %li
          = link_to request_venue_path, class: 'f-btn-primary' do
            %span.effort-badge.fa.fa-music
            Request a venue
        %li
          = link_to(new_point_path(get_effort("facebook_like")), class: 'f-btn-primary') do
            %span.effort-badge.fa.fa-facebook
            Like us
        %li
          = link_to(new_point_path(get_effort("twitter_like")), class: 'f-btn-primary') do
            %span.effort-badge.fa.fa-twitter
            Follow us
        %li
          = link_to(new_point_path(get_effort("instagram_like")), class: 'f-btn-primary') do
            %span.effort-badge.fa.fa-instagram
            Follow us
        %li
          = link_to(new_point_path(get_effort("youtube_like")), class: 'f-btn-primary') do
            %span.effort-badge.fa.fa-youtube
            Subscribe
