.margin-top-40
  .row
    .large-12.columns
      %h1 Need points to unlock something?
      %h4 Just choose something below and get to gettin some. a number of this require proof of completion, so don’t forget to take a screen shot after you’re done!

.margin-top-40
  .row
    .large-12.columns
      .panel
        %h3 Invite a User
        %p When they accept your invitation and create an account, you will get 50 points!
        = form_for @new_user, url: invite_path do |f|
          .row
            .medium-5.columns
              .row.collapse
                .small-3.large-2.columns
                  = f.label :name, class: 'prefix'
                .small-9.large-10.columns
                  = f.text_field :name
            .medium-5.columns
              .row.collapse
                .small-3.large-2.columns
                  = f.label :email, class: 'prefix'
                .small-9.large-10.columns
                  = f.text_field :email
            .medium-2.columns
              = f.submit 'Send Invitation', class: 'f-btn-primary small'

.margin-top-40
  .row
    = render 'points/repeatable_list'

    = render 'points/one_time_list'
