.grid-container.margin-top-40
  .text-center
    %span Hey, yeah you... click this button.
    %a.f-btn-primary.filter-btn{:href => "filtered_thing"} Filter It!
  #fictionist-grid.transitions-enabled.centered.clearfix
    - 5.times do
      .box.col2
        %a{:href => "#{root_url}", :title => "image example"}
          %img{:alt => "test image", :src => "//placehold.it/170x170"}/
      .box.col4.filtered-thing
        %a{:href => "#{root_url}", :title => "image example"}
          %img{:alt => "test image", :src => "//placehold.it/370x170"}/
      .box.col4
        %a{:href => "#{root_url}", :title => "image example"}
          %img{:alt => "test image", :src => "//placehold.it/370x170"}/
      .box.col2.filtered-thing
        %a{:href => "#{root_url}", :title => "image example"}
          %img{:alt => "test image", :src => "//placehold.it/170x170"}/
      .box.col2
        %a{:href => "#{root_url}", :title => "image example"}
          %img{:alt => "test image", :src => "//placehold.it/170x170"}/
      .box.col4.filtered-thing
        %a{:href => "#{root_url}", :title => "image example"}
          %img{:alt => "test image", :src => "//placehold.it/370x170"}/
      .box.col2
        %a{:href => "#{root_url}", :title => "image example"}
          %img{:alt => "test image", :src => "//placehold.it/170x170"}/


