.margin-top-40
#fictionist-grid.masonry.transitions-enabled.centered.clearfix
  - 5.times do
    .box.col2
      %a{:href => "#{root_url}", :title => "image example"}
        %img{:alt => "test image", :src => "//placehold.it/170x170"}/
    .box.col4
      %a{:href => "#{root_url}", :title => "image example"}
        %img{:alt => "test image", :src => "//placehold.it/370x170"}/
    .box.col4
      %a{:href => "#{root_url}", :title => "image example"}
        %img{:alt => "test image", :src => "//placehold.it/370x170"}/
    .box.col2
      %a{:href => "#{root_url}", :title => "image example"}
        %img{:alt => "test image", :src => "//placehold.it/170x170"}/
    .box.col2
      %a{:href => "#{root_url}", :title => "image example"}
        %img{:alt => "test image", :src => "//placehold.it/170x170"}/
    .box.col4
      %a{:href => "#{root_url}", :title => "image example"}
        %img{:alt => "test image", :src => "//placehold.it/370x170"}/
    .box.col2
      %a{:href => "#{root_url}", :title => "image example"}
        %img{:alt => "test image", :src => "//placehold.it/170x170"}/


