%td
  = link_to user do
    %span
      = user.email
%td
  = form_for(user) do |f|
    = f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, { class: 'margin-bottom-0' })
    = f.submit 'Update', :class => 'f-btn-primary small'
%td
  %a.f-btn-primary.icon{"data-reveal-id" => "removePointModal#{user.id}", :href => "#"}
    .fa.fa-minus
  %a.f-btn-primary.icon{"data-reveal-id" => "addPointModal#{user.id}", :href => "#"}
    .fa.fa-plus
  %b Points:
  = number_with_delimiter(user.points)
%td
  - unless user == current_user
    = link_to user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'f-btn-primary icon right'  do
      .fa.fa-trash


%div.reveal-modal{"id" => "addPointModal#{user.id}", "data-reveal" => ""}
  = render 'points_form', user: user, point_action: 'add_points'

%div.reveal-modal{"id" => "removePointModal#{user.id}", "data-reveal" => ""}
  = render 'points_form', user: user, point_action: 'remove_points'
