.margin-top-40
  .row
    -# .large-3.columns
    -#   = image_tag('//placehold.it/300x300')
    .large-12.columns
      %h3.margin-top-40
        = @user.name if @user.name
        %br
        %small
          = "#{number_with_delimiter(@user.points)} Points"
        - if current_user.id == params[:id].to_i
          .right
            = link_to 'Edit account', edit_user_registration_path, class: 'f-btn-primary small'

- if current_user.id == params[:id].to_i
  .row
    .large-12.columns
      %hr
      .margin-top-40
      %h3 Purchased Content

      - if current_user.purchased_contents.any?
        .grid-container.margin-top-40
          #fictionist-grid.transitions-enabled.centered.clearfix
            - current_user.purchased_contents.all.each do |content|
              .box.col2
                = place_asset(content)

      - else
        %p You haven't spent any points yet!
        = link_to "Earn Points", root_path, class: "f-btn-primary small"


-# Uploaded content, future feature maybe?
-# .row
-#   .large-12.columns.margin-bottom-40
-#     %hr
-#     .margin-top-40
-#     %h3 Uploaded Content
-#     %p Upload Fictionist content to earn more points!
-#     - if current_user.id == params[:id].to_i
-#       = link_to "Upload Content", root_path, class: "f-btn-primary small"
-#     - if current_user.uploaded_contents.any?
-#       - current_user.uploaded_contents.each do |item|
-#         = image_tag(item.asset.url(:thumb))



