= simple_form_for @content, url: uploads_path do |f|
  .form-group
    = f.input :message
  .form-group
    = f.input :location
  -# .form-group
  -#   %label
  -#     = 'Content Upload Type'
  -#   .select
  -#     = f.collection_select :asset_type, Content.asset_types, :last, :first, include_blank: true
  .form-group
    = place_asset(f.object)
    = f.input :asset
  .form-group
    = f.input :value
  .form-group
    %label
      = 'Uploader'
    .enum
      - if current_user.band_member?
        = f.collection_select :uploader_id, [[current_user.name, current_user.id]], :last, :first, include_blank: false
      - else
        = f.collection_select :uploader_id, User.band_members.order(:name), :id, :name, include_blank: true

  = f.submit class: 'f-btn-primary'
