- if user_signed_in?
  %li.divider
  %li= link_to "Shows", root_path
  %li.divider
  %li= link_to "Upload", root_path
  %li.divider
  %li.has-dropdown
    = link_to "#" do
      %span.user-points= number_with_delimiter(current_user.points)
      %span= "| #{current_user.name}"
    %ul.dropdown
      %li= link_to "Account", user_path(current_user.id)
      %li.divider
      %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
  - if current_user.admin? || current_user.band_member?
    %li.divider
    %li.has-dropdown
      = link_to "Admin", "#"
      %ul.dropdown
        %li= link_to 'Upmin', '/admin'
        %li.divider
        %li= link_to 'Users', users_path
- else
  %li.divider
  %li= link_to 'Sign in', new_user_session_path
  %li.divider
  %li#register-item
    = link_to new_user_registration_path, class: 'register-link' do
      %span.f-btn-primary.white.small Register

